user_uuid="9bf3f914-7730-4cc9-a419-ad008f7f0fa9"
bucket_name="otunbasoa"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=2